{% extends 'base.html' %}
{% block title %} Home{% endblock title %} 
{% block body %}



<!-- <link href="{{ url_for('static', filename='css/style_satwika.css')}}" rel="stylesheet"> -->


<div class="wrapper">
  <div style="background-image:url(https://i.postimg.cc/Gt8rSnFh/1.jpg)"></div>
    <div style="background-image:url(https://i.postimg.cc/0r1gWM5c/2.jpg)"></div>
    <div style="background-image:url(https://i.postimg.cc/MHVZp8v3/3.jpg)"></div>
    <div style="background-image:url(https://i.postimg.cc/wxL9Jgj0/4.jpg)"></div>
    <div style="background-image:url(https://i.postimg.cc/k560mvVf/5.jpg)"></div>
</div>
<!-- 
<div class="menu">
  <div class="logo">

    <a href="#"><img src="kar logo 2.png" alt="img" style="max-width: 300px; max-height: 300px"></img></a> -->

  <!-- </div>
  <ul>
    <li><a href="#"><i class="fa fa-fw fa-home"></i>Home</a></li>
    <li><a href="https://www.karkinos.in/">About</a></li>
    <li><a href="Link.html">Link</a></li>
    <li><a href="#"><i class="fa fa-fw fa-envelope"></i>Contact</a></li>
     <li><a href="feedback.html">Feedback</a></li> 
  </ul>
</div> -->
</nav>
<!-- <div class="img"></div> -->
<div class="center">
<div class="title">NCD Risk Assessment </div>
<div class="sub_title">Check Your Health Status</div>

<div class="">
  <!-- <button><a href="Register.html">Register</a></button> -->
  <!-- <button><a href="location.href='/searchpage'">Search</a></button> -->
  <!-- <button>Search</button> -->
  <!-- <button onclick="location.href='/searchpage'" type="button" class="btn btn-danger">seach</button> -->
  <button onclick="location.href='/signuppage'" type="button" class="btn btn-secondary btn-lg" style=" background-color: #6c1475" >signup</button>
  <button onclick="location.href='/searchpage'" type="button" class="btn btn-secondary btn-lg" style=" background-color: #6c1475" >search</button>
</div>
</div>

<!-- 

<div class="bd-example" align="middle y-8">
 <form action="" method='post'>

   <button onclick="location.href='/signuppage'" type="button" class="btn btn-danger">signup</button>
      <button onclick="location.href='/searchpage'" type="button" class="btn btn-danger">seach</button>
  </form>
        
    </div> -->


    {% endblock body %}